In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"conditions": ['normal', 'primary cancer', 'metastasis cancer'], 
                   "GeneA": [4, 9, 15], 
                   "GeneB": [650, 780, 900],
                   "GeneC": [100, 200, 300],
                   "GeneD": [2100, 1900, 2300],
                  })
df

#一定要Gene在右上方，condition在左下方才行

          conditions  GeneA  GeneB  GeneC  GeneD
0             normal      4    650    100   2100
1     primary cancer      9    780    200   1900
2  metastasis cancer     15    900    300   2300

In [3]:
df = df.set_index('conditions')
df

                   GeneA  GeneB  GeneC  GeneD
conditions
normal                 4    650    100   2100
primary cancer         9    780    200   1900
metastasis cancer     15    900    300   2300

In [4]:
minvalue_series = df.min() 
minvalue_series

GeneA       4
GeneB     650
GeneC     100
GeneD    1900
dtype: int64

In [5]:
df

                   GeneA  GeneB  GeneC  GeneD
conditions
normal                 4    650    100   2100
primary cancer         9    780    200   1900
metastasis cancer     15    900    300   2300

In [6]:
df = df.T
df

conditions  normal  primary cancer  metastasis cancer
GeneA            4               9                 15
GeneB          650             780                900
GeneC          100             200                300
GeneD         2100            1900               2300

In [7]:
for col in df:
    df[col] = (df[col] - minvalue_series)
df

conditions  normal  primary cancer  metastasis cancer
GeneA            0               5                 11
GeneB            0             130                250
GeneC            0             100                200
GeneD          200               0                400